nav{
	padding: 50px;
	text-align: center;
}

nav > ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	background: #ddd;
	border-radius: 5px;
}
nav > ul > li {
	color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	float: left;
	font-size: 14px;
	padding: 10px;
	position: relative;
	text-transform: uppercase;
	width: 150px;
}
nav >ul >li:hover{
	background: #d5d5d5;
	border-radius: 5px;
}

ul.drop-menu{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 0px;
}
ul.drop-menu li{
	background: #666;
	color: rgba(255,255,255,0.7);
	padding: 10px;
}
ul.drop-menu li:hover{
	background: #606060;
}
ul.drop-menu li:last-child{
	border-radius: 0px 0px 5px 5px;
}
ul.drop-menu li{
	display: none;
}
li:hover >ul.drop-menu li{
	display: block;
}










<!----------------------------------- Menu 1 Style------------------------------------------->

li:hover > ul.drop-menu.menu-1{
	perspective:1000px
}


li:hover > ul.drop-menu.menu-1 li{
	opacity:0
}

li:hover > ul.drop-menu.menu-1 li:nth-child(1){
	-webkit-animation-name:menu1;
	animation-name:menu1;
	-webkit-animation-duration:0.5s;
	animation-duration:0.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-1 li:nth-child(2){
	-webkit-animation-name:menu1;
	animation-name:menu1;
	-webkit-animation-duration:0.7s;
	animation-duration:0.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-1 li:nth-child(3){
	-webkit-animation-name:menu1;
	animation-name:menu1;
	-webkit-animation-duration:0.9s;
	animation-duration:0.9s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-1 li:nth-child(4){
	-webkit-animation-name:menu1;
	animation-name:menu1;
	-webkit-animation-duration:1.1s;
	animation-duration:1.1s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-1 li:nth-child(5){
	-webkit-animation-name:menu1;
	animation-name:menu1;
	-webkit-animation-duration:1.3s;
	animation-duration:1.3s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-1 li:nth-child(6){
	-webkit-animation-name:menu1;
	animation-name:menu1;
	-webkit-animation-duration:1.5s;
	animation-duration:1.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-1 li:nth-child(7){
	-webkit-animation-name:menu1;
	animation-name:menu1;
	-webkit-animation-duration:1.7s;
	animation-duration:1.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}

@keyframes menu1{
	0%{
		opacity: 0;
		transform: rotateY(-100deg) translateY(20px);
	}
	50%{
		 
	}
	100%{
		opacity: 1;
		transform: rotateY(0deg) translateY(0px);
	}
}

.drop-menu.menu-1 > li {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}
.drop-menu.menu-1 > li:last-child {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}












<!------------------------------------- Menu 2 Style----------------------------------------->

li:hover > ul.drop-menu.menu-2{
	perspective:1000px
}


li:hover > ul.drop-menu.menu-2 li{
	opacity:0
}

li:hover > ul.drop-menu.menu-2 li:nth-child(1){
	-webkit-animation-name:menu2;
	animation-name:menu2;
	-webkit-animation-duration:0.5s;
	animation-duration:0.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-2 li:nth-child(2){
	-webkit-animation-name:menu2;
	animation-name:menu2;
	-webkit-animation-duration:0.7s;
	animation-duration:0.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-2 li:nth-child(3){
	-webkit-animation-name:menu2;
	animation-name:menu2;
	-webkit-animation-duration:0.9s;
	animation-duration:0.9s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-2 li:nth-child(4){
	-webkit-animation-name:menu2;
	animation-name:menu2;
	-webkit-animation-duration:1.1s;
	animation-duration:1.1s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-2 li:nth-child(5){
	-webkit-animation-name:menu2;
	animation-name:menu2;
	-webkit-animation-duration:1.3s;
	animation-duration:1.3s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-2 li:nth-child(6){
	-webkit-animation-name:menu2;
	animation-name:menu2;
	-webkit-animation-duration:1.5s;
	animation-duration:1.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-2 li:nth-child(7){
	-webkit-animation-name:menu2;
	animation-name:menu2;
	-webkit-animation-duration:1.7s;
	animation-duration:1.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}

@keyframes menu2{
	0%{
		opacity: 0;
		transform: translateX(-300px) rotateX(-190deg) scaleX(2);
	}
	50%{
		 
	}
	100%{
		opacity: 1;
		transform: translateX(0px) rotateY(0deg) translateY(0px);
	}
}

.drop-menu.menu-2 > li {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}
.drop-menu.menu-2 > li:last-child {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}

















<!------------------------------------------ Menu 3 Content--------------------------------------->

li:hover > ul.drop-menu.menu-3{
	perspective:1000px
}


li:hover > ul.drop-menu.menu-3 li{
	opacity:0
}

li:hover > ul.drop-menu.menu-3 li:nth-child(1){
	-webkit-animation-name:menu3;
	animation-name:menu3;
	-webkit-animation-duration:0.5s;
	animation-duration:0.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-3 li:nth-child(2){
	-webkit-animation-name:menu3;
	animation-name:menu3;
	-webkit-animation-duration:0.7s;
	animation-duration:0.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-3 li:nth-child(3){
	-webkit-animation-name:menu3;
	animation-name:menu3;
	-webkit-animation-duration:0.9s;
	animation-duration:0.9s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-3 li:nth-child(4){
	-webkit-animation-name:menu3;
	animation-name:menu3;
	-webkit-animation-duration:1.1s;
	animation-duration:1.1s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-3 li:nth-child(5){
	-webkit-animation-name:menu3;
	animation-name:menu3;
	-webkit-animation-duration:1.3s;
	animation-duration:1.3s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-3 li:nth-child(6){
	-webkit-animation-name:menu3;
	animation-name:menu3;
	-webkit-animation-duration:1.5s;
	animation-duration:1.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-3 li:nth-child(7){
	-webkit-animation-name:menu3;
	animation-name:menu3;
	-webkit-animation-duration:1.7s;
	animation-duration:1.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}

@keyframes menu3{
	0%{
		opacity: 0;
		transform: rotateY(120deg) translateY(60px);
	}
	50%{
		transform:rotateZ(120deg) rotateX(100deg); 
	}
	100%{
		opacity: 1;
		transform: rotateX(0deg) translateY(0px);
	}
}

.drop-menu.menu-3 > li {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}
.drop-menu.menu-3 > li:last-child {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}












<!-------------------------------------- Menu 4 Content------------------------------------->

li:hover > ul.drop-menu.menu-4{
	perspective:1000px
}


li:hover > ul.drop-menu.menu-4 li{
	opacity:0
}

li:hover > ul.drop-menu.menu-4 li:nth-child(1){
	-webkit-animation-name:menu4;
	animation-name:menu4;
	-webkit-animation-duration:0.5s;
	animation-duration:0.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-4 li:nth-child(2){
	-webkit-animation-name:menu4;
	animation-name:menu4;
	-webkit-animation-duration:0.7s;
	animation-duration:0.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-4 li:nth-child(3){
	-webkit-animation-name:menu4;
	animation-name:menu4;
	-webkit-animation-duration:0.9s;
	animation-duration:0.9s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-4 li:nth-child(4){
	-webkit-animation-name:menu4;
	animation-name:menu4;
	-webkit-animation-duration:1.1s;
	animation-duration:1.1s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-4 li:nth-child(5){
	-webkit-animation-name:menu4;
	animation-name:menu4;
	-webkit-animation-duration:1.3s;
	animation-duration:1.3s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-4 li:nth-child(6){
	-webkit-animation-name:menu4;
	animation-name:menu4;
	-webkit-animation-duration:1.5s;
	animation-duration:1.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-4 li:nth-child(7){
	-webkit-animation-name:menu4;
	animation-name:menu4;
	-webkit-animation-duration:1.7s;
	animation-duration:1.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}

@keyframes menu4{
	0%{
		opacity: 0;
		transform: rotateX(80deg) translateY(100px);
	}
	50%{
		transform:translateY(100px) rotateY(4); 
	}
	100%{
		opacity: 1;
		transform: rotateX(0deg) translateY(0px);
	}
}


.drop-menu.menu-4 > li {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}
.drop-menu.menu-4 > li:last-child {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}








<!------------------------------------------- Menu 5 Content------------------------------------->

li:hover > ul.drop-menu.menu-5{
	perspective:1000px
}


li:hover > ul.drop-menu.menu-5 li{
	opacity:0
}

li:hover > ul.drop-menu.menu-5 li:nth-child(1){
	-webkit-animation-name:menu5;
	animation-name:menu5;
	-webkit-animation-duration:0.5s;
	animation-duration:0.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-5 li:nth-child(2){
	-webkit-animation-name:menu5;
	animation-name:menu5;
	-webkit-animation-duration:0.7s;
	animation-duration:0.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-5 li:nth-child(3){
	-webkit-animation-name:menu5;
	animation-name:menu5;
	-webkit-animation-duration:0.9s;
	animation-duration:0.9s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-5 li:nth-child(4){
	-webkit-animation-name:menu5;
	animation-name:menu5;
	-webkit-animation-duration:1.1s;
	animation-duration:1.1s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-5 li:nth-child(5){
	-webkit-animation-name:menu5;
	animation-name:menu4;
	-webkit-animation-duration:1.3s;
	animation-duration:1.3s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-5 li:nth-child(6){
	-webkit-animation-name:menu5;
	animation-name:menu5;
	-webkit-animation-duration:1.5s;
	animation-duration:1.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-5 li:nth-child(7){
	-webkit-animation-name:menu5;
	animation-name:menu5;
	-webkit-animation-duration:1.7s;
	animation-duration:1.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}

@keyframes menu5{
	0%{
		opacity: 0;
		transform: rotateY(120deg) translateX(20px);
	}
	50%{
		transform:translateY(-200px) scaleX(2);
	}
	100%{
		opacity: 1;
		transform: rotateY(0deg) translateY(0px);
	}
}


.drop-menu.menu-5 > li {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}
.drop-menu.menu-5 > li:last-child {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}



<!------------------------------------ Menu 6 Content------------------------------------>

li:hover > ul.drop-menu.menu-6{
	perspective:1000px
}


li:hover > ul.drop-menu.menu-6 li{
	opacity:0
}

li:hover > ul.drop-menu.menu-6 li:nth-child(1){
	-webkit-animation-name:menu6;
	animation-name:menu6;
	-webkit-animation-duration:0.5s;
	animation-duration:0.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-6 li:nth-child(2){
	-webkit-animation-name:menu6;
	animation-name:menu6;
	-webkit-animation-duration:0.7s;
	animation-duration:0.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-6 li:nth-child(3){
	-webkit-animation-name:menu6;
	animation-name:menu6;
	-webkit-animation-duration:0.9s;
	animation-duration:0.9s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-6 li:nth-child(4){
	-webkit-animation-name:menu6;
	animation-name:menu6;
	-webkit-animation-duration:1.1s;
	animation-duration:1.1s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-6 li:nth-child(5){
	-webkit-animation-name:menu6;
	animation-name:menu6;
	-webkit-animation-duration:1.3s;
	animation-duration:1.3s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-6 li:nth-child(6){
	-webkit-animation-name:menu6;
	animation-name:menu6;
	-webkit-animation-duration:1.5s;
	animation-duration:1.5s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}
li:hover > ul.drop-menu.menu-6 li:nth-child(7){
	-webkit-animation-name:menu6;
	animation-name:menu6;
	-webkit-animation-duration:1.7s;
	animation-duration:1.7s;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;	
}

@keyframes menu6{
	0%{
		opacity: 0;
		transform: rotateY(-120deg) translateX(40px);
	}
	50%{
		transform:translateX(100px);
	}
	70%{
		transform:scale(2) translateX(100px);
	}
	100%{
		opacity: 1;
		transform: rotateY(0deg) translateY(0px);
	}
}

.drop-menu.menu-6 > li {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}
.drop-menu.menu-6 > li:last-child {
  border-bottom: 1px solid #ffffff;
  border-radius: 15px 0;
}









#stylist {
  clear: both;
  color: #ff0000;
  font-family: initial;
  font-size: 44px;
  letter-spacing: 10px;
  padding: 12px;
  text-align: center !important;
}



#menu_one {
  font-weight: bold;
  transition: all 0.3s ease 0s;
  letter-spacing: 1px;
}
#menu_one:hover {
  color: red;
  border-right: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
}

#menu_two {
  font-weight: bold;
  transition: all 0.3s ease 0s;
  letter-spacing: 1px;
}
#menu_two:hover {
  color: red;
  border-right: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
}

#menu_three {
  font-weight: bold;
  transition: all 0.3s ease 0s;
  letter-spacing: 1px;
}
#menu_three:hover {
  color: red;
  border-right: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
}


#menu_four {
  font-weight: bold;
  transition: all 0.3s ease 0s;
  letter-spacing: 1px;
}
#menu_four:hover {
  color: red;
  border-right: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
}

#menu_five {
  font-weight: bold;
  transition: all 0.3s ease 0s;
  letter-spacing: 1px;
}
#menu_five:hover {
  color: red;
  border-right: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
}

#menu_six {
  font-weight: bold;
  transition: all 0.3s ease 0s;
  letter-spacing: 1px;
}
#menu_six:hover {
  color: red;
  border-right: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
}


ul.drop-menu li:hover {
  background: #606060 none repeat scroll 0 0;
  color: yellow;
  transition:all 0.3s;
}